.btn {
    border: none;
    padding: 1rem 1.5rem;
    background: $primary-color;
    color: $off-black;
    cursor: pointer;
    font-size: $default-font;
    outline: .1rem solid $off-black;
    border: .2rem solid #fff;
}