.header {
    background-image: linear-gradient(to bottom, rgba($secondary-color-light, .7), rgba($secondary-color, .7)), url('../../public/images/dance.jpg');
    height: 100vh;
    background-position: top;
    background-size: cover;
    &__copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        color: #fff;
        text-shadow: 0 .1rem .1rem $off-black;
    }
}