// MAIN COLORS
$purple:  #A64AC9;
$yellow: #FCCD04;
$cream: #ffb48f;
$beige: #f5e6cc;
$greenish: #17e9e0;

$dark: #1a1a1d;
$grey-dark: #4e4e50;
$maroon: #6f2232;
$pink: #950740;
$red: #c3073f;

$off-black: #1b1b1b;
$grey-color: #d4d4d4;

// Fonts
$default-font: 1.6rem;