// MAIN COLORS
$cream: #ffb48f;
$maroon: #6f2232;
$pink: #950740;
$red: #c3073f;
$red: #e7386c;

$primary-color: #FFFB00;
$primary-color-light: #FDFB66;
$secondary-color: #6424B0;
$secondary-color-light: #AA66FD;

$off-black: #1b1b1b;
$dark: #1a1a1d;
$grey-color: #B0B099;
$grey-dark: #4e4e50;



// Fonts
$default-font: 1.6rem;